<%- include('./layouts/head-links') -%>
    </head>

    <body class="app sidebar-mini rtl">
            <!-- Navbar-->
            <%- include('./layouts/navbar') -%>
            <!-- Sidebar menu-->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <!-- Sidebar menu end -->
            <%- include('./layouts/sidebar') -%>
                <!-- Main page content -->

                <main class="app-content">
                    <!-- list of course outline  -->
                    <div class="bg-dark p-5 text-light">
                        <h1 class="fw-bold text-center">Computer Science</h1>
                        <p class="text-center">Learn to use your computer.</p>
                    </div>
                    
                    <div class="container">
                        <ol>
                            <h3 class="mt-4 fw-bold text-danger">INTRODUCTION</h3>
                            <a href="/course-content" class="outline-items-links" >
                                <div class="d-flex mb-4">
                                    <li class="bg-dark fs-1" style="color:rgb(3, 3, 94)">
                                    </li>
                                    <div class="p-2">
                                        <h4 class="fw-bold" style="color: rgb(3, 3, 94)">About This Tutorial</h2>
                                        <p>Follow these instructions for taking a Screenshots</p>
                                    </div>
                                </div>
                            </a>

                            <a href="/course-content" class="outline-items-links" >
                                <div class="d-flex mb-4">
                                    <li class="bg-dark fs-1" style="color:rgb(3, 3, 94)">
                                    </li>
                                    <div class="p-2">
                                        <h4 class="fw-bold" style="color:rgb(3, 3, 94)">What is a Computer?</h2>
                                        <p>Follow these instructions for taking a Screenshots</p>
                                    </div>
                                </div>
                            </a>

                            <h3 class="mt-4 text-danger fw-bold">HARDWARE BASIC</h3>
                            <a href="/course-content" class="outline-items-links">
                                <div class="d-flex mb-4">
                                    <li class="bg-dark fs-1" style="color:rgb(3, 3, 94)">
                                    </li>
                                    <div class="p-2">
                                        <h4 class="fw-bold" style="color:rgb(3, 3, 94)">Basic Parts of a Computer</h2>
                                        <p>Follow these instructions for taking a Screenshots</p>
                                    </div>
                                </div>
                            </a>

                            <a href="/course-content" class="outline-items-links">
                                <div class="d-flex mb-4" style="color:rgb(3, 3, 94)">
                                    <li class="bg-dark fs-1" style="color:rgb(3, 3, 94)">
                                    </li>
                                    <div class="p-2">
                                        <h4 class="fw-bold">Buttons and Ports on a Computer</h2>
                                        <p>Follow these instructions for taking a Screenshots</p>
                                    </div>
                                </div>
                            </a>

                            <a href="/course-content" class="outline-items-links">
                                <div class="d-flex mb-4">
                                    <li class="bg-dark fs-1" style="color:rgb(3, 3, 94)">
                                    </li>
                                    <div class="p-2">
                                        <h4 class="fw-bold" style="color:rgb(3, 3, 94)">Inside a Computer</h2>
                                        <p>Follow these instructions for taking a Screenshots</p>
                                    </div>
                                </div>
                            </a>

                            <a href="/course-content" class="outline-items-links">
                                <div class="d-flex mb-4">
                                    <li class="bg-dark fs-1" style="color:rgb(3, 3, 94)">
                                    </li>
                                    <div class="p-2">
                                        <h4 class="fw-bold" style="color:rgb(3, 3, 94)">Laptop Computers</h2>
                                        <p>Follow these instructions for taking a Screenshots</p>
                                    </div>
                                </div>
                            </a>
                        </ol>
                    </div>
                </main>

                <!-- Scripts -->
            <%- include('./layouts/scripts') -%>
    </body>

    </html>