<%- include('./layouts/head-links') -%>

    <!-- custom css  -->
    <style>
        a {
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
        }
    </style>

    </head>

    <body class="app sidebar-mini rtl">
        <!-- Navbar-->
        <%- include('./layouts/navbar') -%>
            <!-- Sidebar menu-->
            <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
            <!-- Sidebar menu end -->
            <%- include('./layouts/sidebar') -%>
                <!-- Main page content -->
                <main class="app-content">
                    <div class="app-title">
                        <div>
                            <h1><i class="fa fa-steam"></i>All Courses</h1>
                            <p>We offer a lot of STEM Courses.</p>
                        </div>
                        <ul class="app-breadcrumb breadcrumb">
                            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                            <li class="breadcrumb-item"><a href="#">Courses</a></li>
                        </ul>
                    </div>

                    <!-- page title  -->
                    <div class="container d-flex justify-content-center">
                        <h3 class="tile-title fw-bold p-4 text-center" id="page-instruction">Select A Course</h3>
                    </div>

                    <!-- Cards -->
                    <div class="row container d-flex flex-row justify-content-between">
                        <div class="card col-lg-4 mb-4 course-cards">
                            <div class="card-body">
                                <h5 class="card-title text-start text-primary pb-2">Introduction to Computers</h5>
                                <p class="card-text text-start pb-5 pt-4">If you're new to computers or just want to update your skills, you've come ...</p>

                                <div class="text-end">
                                    <a href="/courses/computer-basics">
                                        <input type="button" id="intro-to-computers" class="btn start-learning-btn" value="Start Learning">
                                    </a>
                                </div>

                            </div>
                        </div>

                        <!-- <div class="card col-lg-4 mb-4 course-cards">
                            <a href="/computer-basics">
                                <div class="card-body">
                                    <h5 class="card-title text-start text-primary pb-2">Introduction to Computers</h5>
                                    <p class="card-text text-start pb-5 pt-4">If you're new to computers or just want to update your skills, you've come ...</p>
                                    <div class="text-end">
                                        <a href="/computer-basics class=" class="btn">START LEARNING</a>
                                    </div>
                                </div>
                            </a>
                        </div> -->

                        <!-- <div class="card col-lg-4 mb-4 course-cards ">
                            <a href="/course-outline ">
                                <div class="card-body ">
                                    <h5 class="card-title text-start text-primary pb-2 ">Introduction to Computers</h5>
                                    <p class="card-text text-start pb-5 pt-4 ">If you're new to computers or just want to update your skills, you've come ...</p>
                                    <div class="text-end ">
                                        <a href="/course-outline " class="btn">START LEARNING</a>
                                    </div>
                                </div>
                            </a>
                        </div> -->






                        <!-- <div class="card text-center " style="width: 18rem; ">
                            <div class="card-body ">
                                <h5 class="card-title ">Website</h5>
                                <p class="card-text ">Generate a QR code with a link to a website.</p>
                                <a href="# " class="btn btn-primary ">Select</a>
                            </div>
                        </div>
                        <div class="card text-center " style="width: 18rem; ">
                            <div class="card-body ">
                                <h5 class="card-title ">Website</h5>
                                <p class="card-text ">Generate a QR code with a link to a website.</p>
                                <a href="# " class="btn btn-primary ">Select</a>
                            </div>
                        </div> -->

                    </div>

                </main>

                <!-- Scripts -->
                <%- include('./layouts/scripts') -%>
                    <script src="/public/js/stem-courses.js"></script>
    </body>

    </html>